$mat-oldenburg: (
    50 : #fecb00,
    100 : #c60c30,
    200 : #fdc82f,
    300 : #ffa100,
    400 : #ff7900,
    500 : #d2492a,
    600 : #c60c30,
    700 : #665f00,
    800 : #b3ab59,
    900 : #26c9ff,
    A100 : #91e3ff,
    A200 : #c7d4c3,
    A400 : #94a88d,
    A700 : #3e5237,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
