@mixin haus-table-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  th{
        background-color: mat-color($primary);
        color: mat-color($primary,default-contrast);
    }
    .adp-maneuver{
        background-color: mat-color($primary,default-contrast);
    }
    .adp-placemark{
        background-color: mat-color($primary);
        color: mat-color($primary,default-contrast);
        border: mat-color($primary);
    }
    .warning {
        background-color: mat-color($primary,50);
        border-left: 6px solid mat-color($primary, 500);
        color: black;
    }
    .danger {
        background-color: mat-color($accent,200);
        border-left: 6px solid mat-color($accent,900);
    }
    .adp-directions, .adp-summary {
        color: mat-color($primary,default-contrast);
    }
     .flexcroll::-webkit-scrollbar-corner{
        background-color:mat-color($accent,default-contrast);
    }
    .flexcroll::-webkit-scrollbar-thumb {
        background-color: mat-color($primary);
    }
}

.app-content {
  padding: 0px; 
}
.app-content md-card {
  margin: 10px;
}
.app-sidenav {
  padding: 0px;
  min-width: 320px !important;
}
@media (min-width: 961px) {
  .app-layout{
    height: calc(100vh - 64px);
  }
}
@media (max-width: 960px) {
.app-layout{
    height: calc(100vh - 48px);
  }
}
.adp{
    width: 310px;
}
.right-panel {
    overflow: scroll;
    width: 320px; 
    height: calc(100vh - 365px);
}
//scrollbar
.flexcroll{ overflow-y: scroll;
            width: 320px; 
            height: calc(100vh - 414px);
           }
.flexcroll::-webkit-scrollbar {
    width: 10px;
}
.flexcroll::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: 8px;
}
.flexcroll::-webkit-scrollbar-track-piece{
    
}
.flexcroll::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

// Table
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
th{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}
p {
    margin: 0 0 10px;
}
.dataHeaderTable{
    text-align:center;
}

.orange {
    color: Orange;
}
.greene {
     color: Green; 
}
.red {
    color: Red;
}

.text-center{
   text-align:center;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}


@media screen and (min-width: 600px) {
    .dataTable{
        width: 600px;  
        margin: auto;
    }
}
@media screen and (max-width:599px ) {
    .dataTable{
        width: 100%;  
        margin: auto;
    }
}