
  <!--<app-navbar [class.mat-elevation-z6]="showShadow"></app-navbar>-->
  <md-toolbar color="primary" role="toolbar"  >
    <button class="app-icon-button" (click)="sidenavStart.toggle()" *ngIf="!menuIcon">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
   <div routerLink="/">Oldenburg</div> 
    
    <span class="app-toolbar-filler"></span>
    <div *ngIf="menuSwich">
      <button md-button routerLink="/home">Home</button>
      <button md-button routerLink="/hauspark">Park Haus</button>
      <button md-button routerLink="/hausmap">Map</button>    
      <button md-button (click)="switchThem()">DARK THEME</button>
    </div>
  </md-toolbar>


  <md-sidenav-container class="app-layout"  >
    <md-sidenav #sidenavStart  class="app-sidenav" mode="over"  tabindex="-1" align="start" >
    <div style="height: 100%" (swipeleft)="sidenavStart.close()"> 
      <md-list (click)="sidenavStart.toggle()">
        <md-list-item> <button md-button routerLink="/home">Home</button> </md-list-item>
        <md-list-item> <button md-button routerLink="/hauspark">Park Haus</button> </md-list-item>
        <md-list-item> <button md-button routerLink="/hausmap">Zum Map</button> </md-list-item>

      </md-list>
        <button md-button (click)="isDarkTheme = !isDarkTheme">DARK THEME</button>
      </div>
    </md-sidenav>
   
    <!--<div class="app-content" (swiperight)="sidenav.open()" (swipeleft)="sidenav.close()">-->
    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>

  </md-sidenav-container>



  <span class="app-action" [class.m2app-dark]="isDarkTheme">
    <button md-fab><md-icon>check circle</md-icon></button>
  </span>
