<div [class.m2app-dark]="isDarkTheme" >

  <md-toolbar color="primary" role="toolbar" >
    <button class="app-icon-button" (click)="sidenavStart.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Material
    
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">DARK THEME</button>
  </md-toolbar>


  <md-sidenav-container class="app-layout"  >
    <md-sidenav #sidenavStart  class="app-sidenav" mode="over"  tabindex="-1" align="start" >
    <div style="height: 100%" (swipeleft)="sidenavStart.close()"> 

    </div>
    </md-sidenav>
   
    <!--<div class="app-content" (swiperight)="sidenav.open()" (swipeleft)="sidenav.close()">-->
    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>

  </md-sidenav-container>



  <span class="app-action" [class.m2app-dark]="isDarkTheme">
    <button md-fab><md-icon>check circle</md-icon></button>
  </span>


</div>