
.app-content {
  padding: 5px;
  
}

.app-content md-card {
  margin: 10px;
}
@media (min-width: 961px) {
  .app-layout{
    height: calc(100vh - 64px);
  }
}
@media (max-width: 960px) {
.app-layout{
    height: calc(100vh - 48px);
  }
}

.app-sidenav {
  padding: 0px;
  min-width: 320px !important;
}

.app-content md-checkbox {
  margin: 10px;
}



.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);

  margin: 20px;
}

.app-progress {
  margin: 20px;
}
// .example-card {
//   width: 400px;
// }
