<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(assets/slids/City/pic1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/slids/City/pic2.jpg"></div>
            <div class="swiper-slide" style="background-image:url(assets/slids/City/pic3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(assets/slids/City/pic4.jpg)"></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
