<md-sidenav-container class="app-layout"  >
    <md-sidenav  mode="side" #sidenav > 
    <div class="sidenavPosition" align='center'>   
        <h1>
        Oldenburg
        </h1>
            <button md-mini-fab class="btnclose" (click)="closeOpenSidenave()"  *ngIf="opened">
              <md-icon>{{btnSideNave}}</md-icon>
            </button>
      <button md-raised-button routerLink="." (click)="carePositsion()" class="tthem-color" *ngIf="!(addresService.autoPosition.autoPoLat)">Mein Auto Position</button>

      <button md-raised-button routerLink="." (click)="toAuto()"  color="primary" *ngIf="(addresService.autoPosition.autoPoLat)" >Zum Auto</button>
      <button md-raised-button routerLink="." (click)="resetPos()" class="tthem-color" *ngIf="(addresService.autoPosition.autoPoLat)">Reset Mein Auto Position</button>
    </div>
    <div id="right-panel" class="flexcroll" #planRoutMap></div>
    </md-sidenav>
    <button md-mini-fab class="btnOpen" (click)="closeOpenSidenave()" *ngIf="!opened"  >
      <md-icon>{{btnSideNave}}</md-icon>
    </button>
    <sebm-google-map class="sebm-google-map-map" [latitude]="oldenburgLat"
                        [longitude]="oldenburgLng"
                        [zoom]="zoom">

          <sebm-google-map-directions [origin]="origin" 
                                      [destination]="destination"
                                      [directionsDisplay]="directionsDisplay"
                                      [elPlanRout]="elPlanRout">
          </sebm-google-map-directions>
        </sebm-google-map>   
    
</md-sidenav-container>
