@mixin haus-park-theme($theme) {
  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  th{
        background-color: mat-color($primary);
        color: mat-color($primary,default-contrast);
    }
    .adp-placemark{
        background-color: mat-color($primary);
        color: mat-color($primary,default-contrast);
        border: mat-color($primary);
    }
    .warning {
        background-color: mat-color($primary,50);
        border-left: 6px solid mat-color($primary, 500);
        color: black;
    }
    .danger {
        background-color: mat-color($accent,200);
        border-left: 6px solid mat-color($accent,900);
    }
    .adp-directions, .adp-summary {
        color: mat-color($primary,default-contrast);
    }
}

.app-content {
  padding: 0px; 
}
.app-content md-card {
  margin: 10px;
}
.app-layout{
  height: calc(100vh - 56px);
}
.app-sidenav {
  padding: 0px;
  min-width: 320px !important;
}
// Table
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
th{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
}
p {
    margin: 0 0 10px;
}
.adp-placemark, .adp-summary , .adp-directions, .adp-legal , .adp{
    width: 320px;
}
.dataHeaderTable{
    text-align:center;
}

.orange {
    color: Orange;
}
.greene {
     color: Green; 
}
.red {
    color: Red;
}

.text-center{
   text-align:center;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}


@media screen and (min-width: 600px) {
    .dataTable{
        width: 600px;  
        margin: auto;
    }
}
@media screen and (max-width:599px ) {
    .dataTable{
        width: 100%;  
        margin: auto;
    }
}